[submodule "trantor"]
	path = trantor
	url = https://github.com/an-tao/trantor.git
	branch = master
[submodule "sqlite3mc"]
	path = sqlite3mc
	url = https://github.com/utelle/SQLite3MultipleCiphers.git
